<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
 
    <title>Forget Password</title>



    <style  type="text/css">
      body {
        margin: 0;
        padding: 0;
        font-size: 17px;
        font-weight: 400;
       font-family: 'Readex Pro', sans-serif !important;
      }
      body {
        float: left;
        width: 100%;
        overflow-x: hidden;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }
      
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      p {
        margin: 0;
      }
      img {
        max-width: 100%;
      }
      a:hover {
        text-decoration: none;
        -webkit-transition: all 2s ease-out;
        -moz-transition: all 2s ease-out;
        -o-transition: all 2s ease-out;
        transition: all 2s ease-out;
      }
      
      button {
        transition: .8s;
      }
      
      .form-control:focus {
        box-shadow: none;
      }
      
      .container {
        max-width: 1300px;
      }
      
      button:focus {
        outline: none;      
      }
      
      button {
        cursor: pointer;
      }
      
      .login {
      display: flex;
      }
      .login-left {
      width: 50%;
      height: 100vh;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 600px;
      margin: auto;
      max-width: 50%;
      }
      .login-mid h3 {
      font-size: 35px;
      color: #000;
      text-align: center;
      font-weight: 600;
      }
      .login-mid h3 strong{
      color: #05aecd;
      font-weight: 600;
      }
      .login-mid p {
      font-size: 16px;
      color: #737373;
      font-weight: 400;
      text-align: center;
      margin-top: 16px;
      margin-bottom:30px;
      }
      .login-left .form-control{
      background:#F9F9F9;
      border:0;
      height:52px;
      border-radius:8px;
      font-size: 15px;
      }
      .login-left .form-control:focus{
      background: #F9F9F9;
      box-shadow:none;
      }
      .login-left form{
      width: 500px;
      }
      .login-left .form-group{
      margin-bottom:25px;
      position: relative;
      }
      .login-left .form-group i {
        position: absolute;
        top: 50px;
        right: 15px;
    }
      .login-left .form-group span {
      position: absolute;
      top: 12px;
      right: 15px;
      }
      .login-left form .btn.btn-primary {
      width: 100%;
      height: 60px;
      background: #05aecd;
      border-radius: 8px;
      border: 0;
      display: block;
      font-size: 16px;
      color: #fff;
      font-weight: 500;
      margin-top:50px;
      }
      i {
        cursor: pointer;
      }
    
      #pswd_info {
        position: absolute;
        bottom: -75px;
        bottom: -115px\9;
      
        right: 55px;
        width: 250px;
        padding: 15px;
        background: #fefefe;
        font-size: .875em;
        border-radius: 5px;
        box-shadow: 0 1px 3px #ccc;
        border: 1px solid #ddd;
    
      }
    
      #pswd_info h4 {
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: normal;
      }
    
      #pswd_info::before {
        content: "\25B2";
        position: absolute;
        top: -12px;
        left: 45%;
        font-size: 14px;
        line-height: 14px;
        color: #ddd;
        text-shadow: none;
        display: block;
      }
    
      .invalid {
        background: url(../images/invalid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #ec3f41;
      }
    
      .valid {
        background: url(../images/valid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
      }
    
      #pswd_info {
        display: none;
        margin-bottom: 80px;
        margin-right: 65%;
      }
      div#password-strength-status {
        font-size: 14px;
    }
    div#confirmpassword-strength-status{
      font-size: 14px;
    }

    @media only screen and (max-width: 834px) {
 
      .login {
        display: block;
    }
    .login-left{
      width: 100%;
      max-width: 100%;
      height: 200px;
    }
    
  .login-left.right.right-side {
    height: auto;
    padding-top: 30px;
}


}

@media only screen and (max-width: 480px) {
  .login-left form {
    width: 100%;
  }

}

    </style>
  </head>
  <body>
     

<section class="login">
<div class="login-left right" style="background-image: url('https://m4m-bucket.s3.us-east-2.amazonaws.com/chat/images/1694159994647-bg.png');background-size:cover;"> 
    <div class="login-logo">
     <img src="https://m4m-bucket.s3.us-east-2.amazonaws.com/chat/images/1694160034884-logo%20%281%29.png" alt="logo">
  </div>
 </div>
 
 <div class="login-left right right-side"> 
     <div class="login-left-inner">
	   <div class="login-mid">
	     <h3>Link <strong>Expired</strong></h3>
		
	   </div>
     <div class="span">
	   <form name="myForm">
     <div class="">
      <input type="hidden" id="id" class="form-control" name="tokenLink" value="<%=tokenLink %>">
    </div>

  
</form>
</div>
	 </div>
 </div> 
 
 </div>
 

    
 
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
    
  </body>
</html>